@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  text-align: center;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1gc--zYzyPXLd37BY6eyq5VqnxQXp9CxIxyRxalWqKA&s");
  background-repeat: no-repeat;
  z-index: 2;
}

.game_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}

.button_img {
  width: 400px;
  height: 400px;
  transition: transform 0.1s ease-in-out;
  margin-top: auto;
  margin-bottom: 90%;
}

.click_count {
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 30px;
  font-family: Dovemayo_gothic;
}

.click_count a {
  font-size: 50px;
}

.timer {
  width: 80%;
  height: 100px;
  display: flex;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.timer span {
  color:darkblue;
  font-size: 60px;
}

.go_back {
  width: 120px;
  height: 60px;
  color: white;
  background-color: #297DEC;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 45px;
  font-family: Dovemayo_gothic;
}

.main_bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.ranking {
  width: 60%;
  min-height: 100px;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Dovemayo_gothic;
}

.ranking span {
  font-size: 30px;
  margin-left: auto;
}

.ranking svg {
  margin-left: auto;
  margin-right: 30px;
  width: 30px;
}

.ranking_content {
  position: absolute;
  background-color: white;
  width: 30%;
  min-height: 200px;
  max-height: 600px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll; 
}

.ranking_content::-webkit-scrollbar {
  width: 6px;
}

.ranking_content::-webkit-scrollbar-track {
  background-color: transparent;
}

.ranking_content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: lightgray;
}

.ranking_content::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.ranking_user {
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  padding: 0px 10px;
  border-bottom: 1px solid lightgray;
}

.ranking_user a {
  font-size: 20px;
}

.ranking_user span {
  margin-left: auto;
  font-size: 20px;
}